@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,500;1,300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}


.custom-data-table .p-datatable-row-odd {
    background-color: #f0f0f0; /* Gray background for odd rows */
  }
  
  /* Add horizontal lines to separate rows */
  .custom-data-table .p-datatable-tbody .p-datatable-row {
    border-bottom: 1px solid #ccc; /* Add a border at the bottom of each row */
  }
  
  /* Style the table header */
  .custom-data-table .p-datatable-thead th {
    background-color: #333;
    color: white;
  }


  .custom-container-class {
    z-index: 100; /* Add any other styles you need */
  }